.header {
  display: flex;
  margin-left: 400px;
  border-bottom: 4px solid blue;
}

.logo {
  margin: 0;
  margin-right: 100px;
}

.button {
  width: 150px;
  height: 30px;
  margin-right: 20px;
}

.btnList {
  list-style: none;
}
