.section {
  padding: 20px;
  width: 100%;
  height: 40vw;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-image: url(../../icons/tryzub5.svg);
  background-repeat: no-repeat;
  background-size: 24%;
}
