.input {
  margin-right: 20px;
  width: 450px;
  height: 20px;
  margin-bottom: 40px;
  font-size: 18px;
  border: none;
  border-bottom: 3px solid blue;
  background-color: transparent;
  outline: none;
  color: blue;
}

.button {
  width: 150px;
  height: 30px;
  margin-top: 2px;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  border-color: blue;
  border-radius: 3px;
  color: blue;
  outline: none;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: blue;
  color: yellow;
}

.label {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
